@model Cinema.Models.Admin
@{
    ViewBag.Title = "Login";
}
@{
    Layout = "~/Views/Shared/EmptyLayout.cshtml";
}

<script src="~/scripts/jquery-1.8.2.js"></script>
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.unobtrusive.js"></script>
<script>
    $('document').ready(function () {
        $('#user').focusout(confirm);
        
    });

    function confirm() {
        $.getJSON("checkUser?name=" + $("#user").val(), function (d) {
            if (d == false) {
                alert("UserName not available");
            }
            else {
                alert("UserName Available");
            }
        });
    }

</script>

    <div style="text-align: center;">
	<div style="box-sizing: border-box; display: inline-block; width: auto; max-width: 480px; background-color:white; border: 2px solid #0361A8; border-radius: 5px; box-shadow: 0px 0px 8px #0361A8; margin: 50px auto auto;">
	<div style="background: #0361A8; border-radius: 5px 5px 0px 0px; padding: 15px;"><span style="font-family: verdana,arial; color:white; font-size: 1.00em; font-weight:bold;">Sign Up form </span></div>
	<div style="padding: 15px">
	<style type="text/css" scoped>
	td { text-align:left; font-family: verdana,arial; color: black; font-size: 1.00em; }
	input { border: 1px solid #CCCCCC; border-radius: 5px; color:black; display: inline-block; font-size: 1.00em;  padding: 5px; width: 100%; }
	input[type="button"], input[type="reset"], input[type="submit"] { height: auto; width: auto; cursor: pointer; box-shadow: 0px 0px 5px #0361A8; float: right; text-align:right; margin-top: 10px; margin-left:7px;}
	table.center { margin-left:auto; margin-right:auto; }
	.error { font-family: verdana,arial; color: #D41313; font-size: 1.00em; }
	</style>
<form method="post" action="/Admin/newUser" name="uform" target="_top" id="signup">
<input type="hidden" name="action" value="login">
<input type="hidden" name="hide" value="">
<table class='center'>
    <tr><td></td><td>@Html.ValidationMessageFor(u=>u.Name)</td></tr>
<tr><td>@Html.LabelFor(u=>u.Name)</td><td>@Html.TextBoxFor(u=>u.Name)</td></tr>
    <tr><td></td><td>@Html.ValidationMessageFor(p=>p.Password)</td></tr>
<tr><td>@Html.LabelFor(p=>p.Password)</td><td>@Html.PasswordFor(p=>p.Password)</td></tr>
<tr><td>&nbsp;</td><td><input type="submit" value="Submit"></td></tr>
<tr><td colspan=2>&nbsp;</td></tr>
</table>
</form>
</div></div></div>