<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="~/Content/style.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/jquery-1.4.2.min.js" type="text/javascript"></script>
<script src="~/Scripts/cufon-yui.js" type="text/javascript"></script>
<script src="~/Scripts/cufon-replace.js" type="text/javascript"></script>
<script src="~/Scripts/Gill_Sans_400.font.js" type="text/javascript"></script>
<script src="~/Scripts/script.js" type="text/javascript"></script>
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
<!--[if lt IE 7]>
<script type="text/javascript" src="js/ie_png.js"></script>
<script type="text/javascript">ie_png.fix('.png, .link1 span, .link1');</script>
<link href="css/ie6.css" rel="stylesheet" type="text/css" />
<![endif]-->
</head>
<body style="color:white">
 <div class="tail-top">
  <div class="tail-bottom">
    <div id="main">
      <div id="header">
        <div class="row-1">
          <div class="fleft"><a href="#">Cinema <span>World</span></a></div>
          <ul>
            <li><a href="~/Home/index"><img src="~/images/icon1.gif" alt="" /></a></li>
              <li><a href="~/Admin/Logout"><img src="~/images/logout.png" alt="" /></a></li>
            </ul>
        </div>
        <div class="row-2">
          <ul>
            <li><a href="~/Admin/addmovie" class="active">Add Movie</a></li>
            <li><a href="~/Admin/viewall">All Movies</a></li>
            <li class="last"><a href="~/Admin/Signup">Add new User</a></li>    
          </ul>
        </div>
      </div>
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)

    
        <div id="footer">
        <div class="left">
          <div class="right">
            <div class="footerlink">
              <p class="lf">Copyright &copy; 2010 <a href="#">SiteName</a> - All Rights Reserved</p>
              <p class="rf"><a href="http://all-free-download.com/free-website-templates/">Free CSS Templates</a> by <a href="http://www.templatemonster.com/">TemplateMonster</a></p>
              <div style="clear:both;"></div>
            </div>
          </div>
        </div>
      </div>
     </div>
    </div>
   </div>
  </body>
    </html>